.job_Form{
    margin:0;
    text-align:end;
    
}
.job-label{
    margin-right:1rem;
}
.location{
    margin-right:1rem
}
.job-button{
    font-size:0.5rem;
    padding:1.5rem 2.3rem;
    color:black;
    margin-top:0.5rem;
     
}