.form{
    padding:4rem 3rem;
    background-color:white
}


.input{
font-weight:bold;
margin-right:0.5rem;
padding:0.3rem 0.3rem;
border-radius:8px;
font-family: 'Roboto', sans-serif;;
}
.label{
    margin-right:0.3rem;
}
